html, body, h2{  
    margin: 0;  
    padding: 0; 
}

body{
    max-width: 1200px;
    background-color: rgb(34, 230, 214);
}

.container{
    max-width: 1100px;
}

h1, h2{
    color: white;
    text-shadow: rgb(36, 35, 35) 0.1em 0.1em 0.1em;
    font-family: Helvetica;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #000;
}
label{
    padding: 10px;
    color: white;
    font-family: Helvetica;
    text-shadow: rgb(36, 35, 35) 0.05em 0.05em 0.05em;
    font-size: x-large;
}

.ranges{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

input{
    width: 200px;
}

